@import "../../layout/variables.scss";

.tags {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        display: inline;
    }

    .tag {
        @include button;
        margin: 0.25em;
    }
}
