@import "../layout/variables.scss";
@import "../../third-parties/bootstrap/scss/root";
@import "../../third-parties/bootstrap/scss/transitions";
@import "../../third-parties/bootstrap/scss/card";
@import "../../third-parties/bootstrap/scss/spinners";
@import "../../third-parties/bootstrap/scss/utilities";

.cover {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.post {

    &.with-cover .body {
        padding: 1em 3em;
        background-color: $background-darker;
        opacity: 0.8;
    }

    .twitter-tweet {
        margin: 0 auto;
        text-shadow: none;
    }

    .compact-navigation {
        position: relative;
        background-color: $background;
        display: block;
        margin-top: 3em;
        padding: 0.5em 2em;

        .post-navigation {
            max-width: $container-width;
            margin: 0 auto;
        }
    }

    .container {
        position: relative;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 2em;
    }

    .wild-container {
        position: relative;
        width: 70%;
        margin: 0 auto;

        h1 {
            font-size: 3em;

            @media screen and (max-width: 800px) {
                font-size: 1.9em;
            }
        }
    }

    .serious-highlight {
        background-color: $background-serious-highlight;
        color: $foreground-serious-highlight;
        padding: 0.3em;
        line-height: 2.5em;

        a {
            color: $foreground-serious-highlight-anchor;

            &:visited {
                color: $foreground-serious-highlight-anchor-visited;
            }
        }
    }

    //TODO: there is duplication with the tag styles. fix them
    .tags {
        .tag,
        &:visited {
            background-color: $primary;
            color: $background-lighter;

            &:hover {
                background-color: $secondary;
                color: $white;
            }
        }
    }

    a.anchor {
        svg {
            border-radius: $border-radius;
            fill: $gray-600;
            float: left;
            height: 1em;
            width: 1em;
            position: absolute;
            margin-left: -0.5em;
            margin-top: 0.25em;
        }
    }

    h2,
    h3,
    h4 {
        a.anchor {
            display: inline-block;
            margin-left:-1em;
            margin-right: 0;

            svg {
                width: 2em;
                margin-left: -0.75em;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 2.5em;

        @include small-media {
            font-size: 2em;
        }
    }

    h4 {
        font-size: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    span,
    li {
        code {
            margin: 3px 0;
            padding: 0.25em 0.5em;
            background-color: $background-lighter;
            display: inline-block;
        }
    }

    pre code {
        background-color: transparent;
    }

    img {
        max-width: 100%;
    }

    pre {
        code {
            line-height: 1.75em;
            padding: 0;
        }
    }

    .gist {
        overflow-x: auto;
        border-radius: $border-radius * 2;

        .highlight {
            border-collapse: collapse;
            color: #f8f8f2;
            background: none;
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;

            tr,
            td {
                border-style: none;
                padding: 0;
                line-height: 2em;
                height: 0;
                background-color: $background-lighter;
                color: $foreground;

                &:hover {
                    background-color: $background-lighter;
                    color: $foreground;
                }

                .js-line-number {
                    padding-right: 1.5em;
                }
            }
        }
    }

    .card {
        margin-bottom: 0.5em;
    }

    .post-footer {
        .tags {
            text-align: center;
            margin: 1.5em 0;

            .tag,
            &:visited {
                background-color: $background-lighter;
                color: $foreground;
            }

            .tag:hover {
                background-color: $primary;
                color: $background-lighter;
            }
        }
    }
}

@media print {
    .navigation {
        display: none;
    }

    .post {
        blockquote,
        pre,
        code {
            border: none;
            overflow-wrap: break-word;
            overflow: visible;
        }

        .post-navigation,
        .post-footer,
        #disqus_thread {
            display: none;
        }
    }

    .post-navigation.elaborate {
        display: none;
    }
}
