@import "../../layout/variables.scss";

.post-navigation.compact {
    font-size: 0.7em;
    font-family: $font-family-sans-serif;
    margin-top: 7em;

    a {
        color: $foreground;

        &:hover {
            color: $secondary;
        }
    }

    .previous {
        float: left;
        margin-right: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px;
    }

    .next {
        float: right;
        margin-left: 1em;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 350px;
    }

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

@include small-media {
    .post-navigation.compact {
        .next,
        .previous {
            display: block;
            float: none;
            text-align: right;
        }
    }
}
