@import "../../layout/variables.scss";

.post-navigation.compact {
    font-size: 0.7em;
    font-family: $font-family-sans-serif;
    margin-top: 7em;
    height: 2.5em;

    @include small-media {
        line-height: $font-size-medium;
        height: 3.5em;
    }

    a {
        color: $foreground;

        &:hover {
            color: $secondary;
        }
    }

    .previous {
        float: left;
        margin-right: 1em;

        @include small-media {
            margin-top: 1em;
        }

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 450px;
            display: inline-block;

            &:before {
                content: "🡠";
                margin-right: 0.5rem;
            }

            @include medium-media {
                mex-width: 250px;
            }
        }
    }

    .next {
        float: right;
        margin-left: 1em;
        text-align: right;

        @include small-media {
            margin-top: 1em;
        }

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 450px;
            display: inline-block;

            @include medium-media {
                max-width: 250px;
            }
        }

        &:after {
            content: " 🡢";
            float: right;
            margin-left: 0.5rem;
        }
    }

    &::after {
        content: "";
        clear: both;
        display: block;
    }
}

@include small-media {
    .post-navigation.compact {
        .next,
        .previous {
            display: block;
            float: none;
            text-align: right;
        }
    }
}
