@import "../../layout/layout.scss";

.posts {
  section {
    padding: 0em 2.5em;
    max-width: $container-width;
    margin: 0 auto;

    &:first-child {
      padding: 0em 2.5em;
      text-align: center;

      &::after {
        content: "";
        position: relative;
      }

      h1 {
        font-size: 3em;
        color: $primary;

        @include small-media() {
          font-size: 2em;
        }

      }

      .tags {
        .tag,
        &:visited {
          background-color: $primary;
          color: $background-accent;

          &:hover {
            background-color: $secondary;
          }
        }
      }
    }

    a {
      color: $foreground;

      &:hover {
        color: $secondary;
      }
    }
  }
}