@import "../../layout/layout.scss";

.about {
    text-align: center;

    .profile {
        max-width: $container-width;
        margin: 0 auto;

        h1 {
            font-size: 3.5em;
            margin-top: 10px;
            margin-bottom: 0;
        }
    
        .photo {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-image: url("/images/profile.jpg");
            background-position: center;
            background-size: 300px;
            margin: 0 auto;
        }
    }

    .read-more {
        text-align: center;

        .button {
            @include button;
            background-color: $foreground-lighter;
        }
    }

    .elaborate {
        display: none;

        &.elaborated {
            display:block;
        }
    }
    .elaborated {
        display: block;
        @include highlighted-section;
        margin: 1em 2em;
    }
}

@media print {
    .about {
        .profile {
            text-align: left;

            h1 {
                font-size: 2.5em;
            }

            .photo {
                float: right;
                width: 200px;
                height: 200px;
            }
        }
    }
}