@import "../../layout/variables.scss";

.technologies {
    margin-top: .5em;
    text-align: center;

    li {
        display: inline;
    }

    .tag {
        @include button;

        margin: 0.5em;

        .xp {
            font-size: 0.75em;

            &::before {
                content: " ";
            }
        }

        &:hover {
            cursor: default;
            background-color: $primary;
        }
    }

    .brands {
        text-align: center;

        img {
            width: 80px;
        }
    }

    .button {
        @include button;

        background-color: $foreground-lighter;
        padding-bottom: 3px;
    }

    .elaborate {
        display: none;
    }

    .elaborated {
        display: block;

        .tag {
            background-color: $foreground;
        }
    }
}

@media print {
    .technologies {
        &::before {
            content: "Technologies:";
            border-top: solid 1px lightgray;
            font-weight: bold;
            padding-top: 1em;
            display: block;
        }

        &::after {
            border-top: solid 1px lightgray;
            font-weight: bold;
            padding-top: 1em;
            display: block;
        }

        text-align: left;

        .tag {
            font-size: 1em;
            font-family: 'Times New Roman', Times, serif;
            background-color: white;
            margin-left: 0;
            padding: 0;
        }

        .button {
            display: none;
        }

        .elaborate {
            display: block;
        }
    }
}
