@import "../../layout/variables.scss";

.technologies {
    margin-top: .5em;
    text-align: center;

    li {
        display: inline;
    }

    .tag {
        @include button;
        margin: 0.5em;

        .xp {
            font-size: 0.75em;

            &::before {
                content: " ";
            }
        }

        &:hover {
            cursor: default;
            background-color: $primary;
        }
    }

    .button {
        @include button;

        background-color: $foreground-lighter;
        padding-bottom: 3px;
    }

    .elaborate {
        display: none;
    }

    .elaborated {
        display: block;

        .tag {
            background-color: $foreground;
        }
    }
}
