@import "../../layout/variables.scss";

/* Made with http://icomoon.io/ */
@font-face {
    font-family: "timeline";
    src: url("/fonts/timeline.eot");
    src: url("/font/timeline.eot?#iefix") format("embedded-opentype"), url("/fonts/timeline.woff") format("woff"), url("/fonts/timeline.ttf") format("truetype"), url("/fonts/timeline.svg#timeline") format("svg");
    font-weight: normal;
    font-style: normal;
}

$icon-size: 70px;
$btn-border-size: 3px;
$podcast: #84adf8;
$talk: #d299e4;
$work: #dcfc6b;
$certificate: #f37f85;
$book: #f89669;
$project: #82c9e6;
$blog: #52f552;
$community: #52a2f5;

@mixin category-icon($icon, $accent) {
    .meta {
        h1,
        h2,
        a {
            color: $accent;
        }

        a:hover {
            color: $foreground-lighter;
        }
    }

    .description {
        font-size: $font-size-base;

        h3,
        a {
            color: $accent;

            &:hover {
                color: $foreground-lighter;
            }
        }

        .tag {
            font-size: $font-size-base - 0.5;
            background-color: lighten($accent, 15%);
            padding: 0.25em 0.5em;
            border-radius: 5px;
            color: $background-darker;
            margin: 0 0.25em;
        }
    }

    .icon {
        &:hover span,
        span {
            cursor: pointer;
            color: $accent;

            &:hover {
                border: solid $btn-border-size $accent;
            }
        }

        span::before {
            content: $icon;
        }
    }
}

@mixin legend-icon($accent) {
    .icon {
        display: inline-block;
        margin: 0 0.5em;
    }

    .icon span {
        color: $foreground-lighter;
    }

    &.active .icon span {
        border: solid $btn-border-size $accent;
        color: $accent;

        &:hover {
            border: solid $btn-border-size $foreground-lighter;
            color: $background-darker;
            background-color: $foreground-lighter;
        }
    }
}

.timeline {
    > li {
        list-style: none;
    }

    .item {
        &.podcast .icon span {
            border: solid $btn-border-size $podcast;
        }

        &.talk .icon span {
            border: solid $btn-border-size $talk;
        }

        &.work .icon span {
            border: solid $btn-border-size $work;
        }

        &.book .icon span {
            border: solid $btn-border-size $book;
        }

        &.project .icon span {
            border: solid $btn-border-size $project;
        }

        &.blog .icon span {
            border: solid $btn-border-size $blog;
        }

        &.community .icon span {
            border: solid $btn-border-size $community;
        }

        &.certificate .icon span {
            border: solid $btn-border-size $certificate;
        }
    }

    .legend {
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
        }

        .podcast {
            @include legend-icon($podcast);
        }

        .talk {
            @include legend-icon($talk);
        }

        .work {
            @include legend-icon($work);
        }

        .book {
            @include legend-icon($book);
        }

        .project {
            @include legend-icon($project);
        }

        .blog {
            @include legend-icon($blog);
        }

        .community {
            @include legend-icon($community);
        }

        .certificate {
            @include legend-icon($certificate);

            &.active .icon:hover span {
                color: darken($foreground-lighter, 30%);
            }
        }
    }

    .icon {
        font-weight: normal;
        font-style: none;

        span {
            border: solid $btn-border-size $background-darker;
            background-color: $background-darker;
            display: inline-block;
            border-radius: 50%;
            position: relative;
            width: $icon-size;
            height: $icon-size;

            &::before {
                font-family: timeline;
                font-size: $font-size-base;
                position: absolute;
                top: 10%;
                left: 25%;
            }
        }
    }

    .item {
        display: flex;
        width: 100%;

        .tag {
            font-family: $font-family-sans-serif;
            text-shadow: none;
            font-size: $font-size-base;
        }

        .meta {
            display: inline-block;
            width: 35rem;
            text-align: right;
            vertical-align: top;

            h2 {
                margin-top: 0.5em;
            }
        }

        .icon {
            display: inline-block;
            width: $icon-size;
            height: $icon-size;
            vertical-align: top;
            margin: 1em 2em;
        }

        .description {
            display: inline-block;
            width: 50rem;
        }
    }

    .podcast {
        @include category-icon("", $podcast);
    }

    .talk {
        @include category-icon("", $talk);
    }

    .work {
        @include category-icon("", $work);
    }

    .certificate {
        @include category-icon("", $certificate);
    }

    .book {
        @include category-icon("", $book);
    }

    .project {
        @include category-icon("", $project);
    }

    .blog {
        @include category-icon("", $blog);
    }

    .community {
        @include category-icon("", $community);
    }
}

@media screen and (min-width: 801px) and (max-width: 1400px) {
    .timeline {
        .item {
            display: flex;
            position: relative;

            .description {
                font-size: $font-size-medium;

                .tag {
                    font-size: $font-size-medium - 0.5;
                }
            }

            .meta {
                width: 80%;
                text-align: left;
            }

            .icon {
                margin: 0;
                position: absolute;
                top: 1em;
                right: 1em;
            }

            .description {
                width: 100%;
            }
        }
    }
}

@include small-media {
    .timeline {
        .item {
            .description {
                font-size: $font-size-small;

                .tag {
                    font-size: $font-size-small - 0.5;
                }
            }

            display: flex;
            position: relative;

            .meta {
                width: 80%;
                text-align: left;
            }

            .icon {
                margin: 0;
                position: absolute;
                top: 1em;
                right: 1em;
            }

            .description {
                width: 100%;
            }
        }
    }
}
