@import "../../layout/variables.scss";

.navigation {
    height: 4.6em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $background-darker;
    border-bottom: solid 10px $menu-bar-accent;
    z-index: 999;
    font-size: $font-size-base / 1.5;

    .normal-weight {
        font-weight: normal;
    }

    + div {
        margin-top: 6em;
    }
}
