@import "../layout/variables.scss";

.credits-container {
    @include gutter;
    max-width: $container-width;
    margin: 0 auto;

    .credit {
        margin-bottom: 1.5em;
        font-size: $font-size-base;

        a {
            font-family: $font-family-sans-serif;
            line-height: 2em;
            font-size: 0.8em;
            background-color: $background-lighter;
            border-radius: $border-radius;
            color: $foreground;
            margin: 0.25em;
            padding: 0 1em;
            display: inline-block;
            text-shadow: none;
            font-weight: $font-family-sans-serif-light;

            &:hover {
                background-color: $primary;
                color: $background-lighter;
            }
        }
    }
}
