@import "../../../layout/layout.scss";

.navigation {
    .icons {
        position: absolute;
        top: 0.25em;
        right: 1.5em;
        display: flex;

        .icon {
            display:inline-block;
            cursor: pointer;
            margin-left:0.5em;
            width: 60px;
            height: 60px;
            border-radius: $border-radius;

            &:hover {
                background-color: $background-accent;
            }

            &.active {
                border-radius: $border-radius;
            }

            > i {
                display:inline-block;
                background-size: cover;
                width: 30px;
                height: 30px;
                margin: 15px;
            }
        }
    }
}