@import "../../../layout/variables.scss";

.navigation {
    padding-left: 1em;

    .logo {
        max-width: $container-width;
        margin: 0 auto;
        font-size: 1.5rem;
        padding-top: 5px;

        .mobile-logo {
            display: none;
        }

        .default-logo,
        .mobile-logo {
            margin-bottom: 0.5em;
            font-size: 1.25em;
            font-weight: $font-family-sans-serif-heavy;
            font-family: $font-family-sans-serif;

            a {
                color: $foreground;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .navigation {
        .logo {
            .default-logo {
                display: none;
            }

            .mobile-logo {
                display: inline-block;
            }
        }
    }
}
