@import "../../layout/variables.scss";

.footer-container {
    .footer {
        .copyright-footer {
            font-size: 0.8em;

            .github {
                margin: 0 0.4em;
                display: inline-block;

                path {
                    fill: $foreground;
                }

                &:hover path {
                    fill: $primary;
                }
            }
        }
    }
}
