@import "../../layout/variables.scss";

.footer-container {
    .footer {
        .license-footer {
            font-size: 0.7em;
            font-style: italic;
            font-family: $font-family-serif;
            font-weight: 100;
            line-height: 1.75em;
        }

        p {
            margin: 0;
        }

        .baby {
            display: none;
        }

        // TODO: Get this 900px monstor into a variable,
        // better yet, the entire media query into a mixin
        @media screen and (max-width: 900px) {
            .baby {
                display: block;
            }

            .grand {
                display: none;
            }
        }
    }
}
