@import "../../layout/variables.scss";

.searchbar {
    display: none;
    background-color: $background-darker;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 4em;
    z-index: 1;
    padding: 1em;

    &.active {
        display: block;
    }

    .search-query {
        display: block;
        width: 96%;
        padding: 0.5em;
        margin: 1.5em 2% 0.5em 2%;
        font-family: $font-family-sans-serif;
        background-color: $background-lighter;
        border: solid 1px $background-lighter;
        border-radius: $border-radius;
        color: $foreground;
        font-size: 1.25em;
    }

    .error {
        .message {
            color: $accent;
            font-weight: $font-family-sans-serif-heavy;
        }

        .contact-me {
            a {
                display: inline-block;
            }
        }
    }

    .results {
        height: 100vh;
        overflow-y: auto;
        font-size: $font-size * 1.15;

        ul {
            padding-left: 2%;

            li {
                list-style: none;
                padding-bottom: 0.5em;

                a {
                    display: block;
                }
            }
        }
    }
}
