@import "../../../layout/variables.scss";

.post-metadata {
    p {
        font-style: italic;
        text-align: right;
        font-size: $font-size-base / 1.1;
    }

    .tags {
        text-align: center;
    }
}
